<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>지도 영역 크기 동적 변경하기</title>

</head>
<body>
<div id="map" style="width:100%;height:350px;"></div>
<!--마우스 휠로 조절-->
<p>
    <button onclick="setZoomable(false)">지도 확대/축소 끄기</button>
    <button onclick="setZoomable(true)">지도 확대/축소 켜기</button>
</p>
<p id="result"></p>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f0d869dc873003f3df8d22690051a17c"></script>
<script>
    var mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    function resizeMap() {
        var mapContainer = document.getElementById('map');
        mapContainer.style.width = '100%';
        mapContainer.style.height = '100%';
    }

    function relayout() {

        map.relayout();
    }

    //지도크기를 마우스 휠로 조절
    function setZoomable(zoomable) {

        map.setZoomable(zoomable);
    }

    // 줌 컨트롤
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

    kakao.maps.addEventListener(map, 'zoom_changed', function() {

        // 지도의 현재 레벨을 얻어옵니다
        var level = map.getLevel();

        var message = '현재 지도 레벨은 ' + level + ' 입니다';
        var resultDiv = document.getElementById('result');
        resultDiv.innerHTML = message;

    });
</script>
</body>
</html>